<div class="action-header row">
	<h2 class="col-md-11">Ajout d'une AMAP</h2>
</div>

<div ng-controller="AddAmapController" ng-submit="envoiAmap()">
<form>
		<fieldset class="form-group">
			<label for="nom">Nom</label>
			<input type="text" class="form-control" id="nom" ng-model="amap.nom" required>
		</fieldset>
		<fieldset class="form-group">
			<label for="lieu">Lieu</label>
			<input type="text" class="form-control" id="lieu" ng-model="amap.lieu" required>
		</fieldset>
		<fieldset class="form-group">
			<label for="adresse">Adresse</label>
			<input type="text" class="form-control" id="adresse" ng-model="amap.adresse" required>
		</fieldset>
		<fieldset class="form-group">
			<label for="bancaire">Bancaire</label>
			<input type="text" class="form-control" id="bancaire" ng-model="amap.bancaire" required>
		</fieldset>
		<button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="button" class="btn btn-primary" data-ui-sref="amaps.list">Retour</button>
</form>
</div>