<div class="action-header row">
	<h2 class="col-md-11">Edition d'une AMAP</h2>
</div>

<div ng-controller="EditAmapController" ng-submit="envoiAmap()">
<form>
		<fieldset class="form-group">
			<label for="nom">Nom</label>
			<input type="text" class="form-control" id="nom" ng-model="amap.nom">
		</fieldset>
		<fieldset class="form-group">
			<label for="lieu">Lieu</label>
			<input type="text" class="form-control" id="lieu" ng-model="amap.lieu">
		</fieldset>
		<fieldset class="form-group">
			<label for="adresse">Adresse</label>
			<input type="text" class="form-control" id="adresse" ng-model="amap.adresse">
		</fieldset>
		<fieldset class="form-group">
			<label for="bancaire">Bancaire</label>
			<input type="text" class="form-control" id="bancaire" ng-model="amap.bancaire">
		</fieldset>
		<button type="submit" class="btn btn-primary" data-ui-sref="amaps.list">Modifier</button>
                <button type="button" class="btn btn-primary" data-ui-sref="amaps.list">Retour</button>
</form>
</div>