<div class="action-header row">
	<h2 class="col-md-11">Liste</h2>
	<div class="actions col-md-1">
		<a href class="btn btn-primary">Ajouter</a>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<th>Nom</th>
			<th>Lieu</th>
			<th>Adresse</th>
			<th>Bancaire</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="amap in amaps">
	  			<td data-ng-bind="amap.nom"></td>
	  			<td data-ng-bind="amap.lieu"></td>
	  			<td data-ng-bind="amap.adresse"></td>
	  			<td data-ng-bind="amap.bancaire"></td>
	  			<td>
	  				<a class="btn btn-default" href><i class="glyphicon glyphicon-pencil"></i></a>
	  				<a class="btn btn-danger" href ng-click ="delete(amap)"><i class="glyphicon glyphicon-trash"></i></a>
	  			</td>
			</tr>
		</tbody>
	</table>
</div>