.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
  margin-top: 50px;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-sidebar > li > a.active,
.nav-sidebar > li > a.active:hover,
.nav-sidebar > li > a.active:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-group {
  margin: 0 0 20px 0;
}

.nav-group > li > a{
  padding-left: 30px;
  text-transform: initial;
  letter-spacing: initial;
}

.login-navbar
{
  margin-right: 20px;
}

.login.panel {
  margin-top: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.login .input-group {
  margin-top: 10px;
}

.login button[type="submit"] {
  margin-top: 20px;
}

.login .remember label {
  font-weight: normal;
  margin-top: 10px;
}

.login .desc {
  margin-bottom: 20px;
}

.login .pass-lost {
  margin-top: 20px;
}

.form-add-offre {
  border: 1px solid black;
}

.panel-form-header {
  background-color: rgb(221, 221, 221);
  padding: 5px;
}

.panel-form-header-buttons {
  text-align: center;
}

.remove-link {
  color: #e90000;
}

.remove-link:hover {
  color: #ba0000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}