{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">

                    <li><a data-ui-sref="adherents.list" data-ui-sref-active="active">Adhérents</a></li>
                    <li><a data-ui-sref="amaps.list" data-ui-sref-active="active">Amaps</a></li>
                    <li><a data-ui-sref="contrats.list" data-ui-sref-active="active">Contrats</a></li>
                    <li><a data-ui-sref="produits.list" data-ui-sref-active="active">Produits</a></li>
                    <li><a data-ui-sref="producteurs.list" data-ui-sref-active="active">Producteurs</a></li>

                    <li>
                        <a data-toggle="collapse" data-target="#menu-individus" href class="collapsed">
                            <i class="glyphicon glyphicon-user"></i> Individus
                        </a>
                        <ul id="menu-individus" class="nav nav-sidebar nav-group collapse">
                            <li><a data-ui-sref="adherents.list" data-ui-sref-active="active">Adhérents</a></li>
                            <li><a data-ui-sref="benevoles.list" data-ui-sref-active="active">Bénévoles</a></li>
                            <li><a data-ui-sref="producteurs.list" data-ui-sref-active="active">Producteurs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#menu-structures" href class="collapsed">
                            <i class="glyphicon glyphicon-home"></i> Structures
                        </a>
                        <ul id="menu-structures" class="nav nav-sidebar nav-group collapse">
                            <li><a data-ui-sref="amaps.list" data-ui-sref-active="active">Amaps</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#menu-actions" href class="collapsed">
                            <i class="glyphicon glyphicon-flash"></i> Actions
                        </a>
                        <ul id="menu-actions" class="nav nav-sidebar nav-group collapse">
                            <li><a data-ui-sref="contrats.list" data-ui-sref-active="active">Contrats</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#menu-collections" href class="collapsed">
                            <i class="glyphicon glyphicon-list-alt"></i>  Collections
                        </a>
                        <ul id="menu-collections" class="nav nav-sidebar nav-group collapse">
                            <li><a data-ui-sref="produits.list" data-ui-sref-active="active">Produits</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ui-view></div>
            </div>
        </div>
    </div>
{% endblock %}