<div class="action-header row">
	<h2 class="col-md-11">Liste</h2>
	<div class="actions col-md-1">
		<a data-ui-sref="adherents.add_adherent" href class="btn btn-primary">Ajouter</a>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="adherent in adherents">
	  			<td data-ng-bind="adherent.nom"></td>
	  			<td data-ng-bind="adherent.prenom"></td>
	  			<td>
					<a data-ui-sref="adherents.edit({id:adherent.id})" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="btn btn-danger" href ng-click ="delete(adherent)"><i class="glyphicon glyphicon-trash"></i></a>
	  			</td>
			</tr>
		</tbody>
	</table>
</div>