<div class="action-header row">
    <h2 class="col-md-11">Ajout d'un producteur</h2>
</div>

<div ng-controller="AddProducteurController" ng-submit="envoiProducteur()">
    <form>
        <fieldset class="form-group">
            <label for="nomProducteur">Nom du producteur</label>
            <input type="text" class="form-control" id="nomProducteur" ng-model="producteur.nom_producteur" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="prenomProducteur">Prénom du producteur</label>
            <input type="text" class="form-control" id="prenomProducteur" ng-model="producteur.prenom_producteur" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="singleSelect">Amap liée</label><br>
            <select name="singleSelect" id="singleSelect" class="form-control"
                    ng-model="producteur.amap"
                    ng-options="amap.nom for amap in amaps track by amap.id"
                    required>
                <option value="">--Sélectionner une amap--</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="singleSelect">Offre de produits</label><br>
            <select data-multiselect-dropdown 
                    name="offreProduit" id="offreProduit" class="form-control"
                    ng-model="producteur.produits"
                    ng-options="produit.libelle for produit in produits track by produit.id"
                    multiple="multiple" 
                    data-placeholder="Sélectionner des produits">
            </select>
        </fieldset>

        <button type="submit" class="btn btn-primary">Ajouter</button>


    </form>
</div>
