<div class="action-header row">
	<h2 class="col-md-11">Modification d'un producteur</h2>
</div>

<div ng-controller="EditProducteurController" ng-submit="envoiProducteur()">
	<form>
		<fieldset class="form-group">
			<label for="nomProducteur">Nom du producteur</label>
			<input type="text" class="form-control" id="nomProducteur" ng-model="producteur.nom_producteur">
		</fieldset>
		<fieldset class="form-group">
			<label for="prenomProducteur">Prénom du producteur</label>
			<input type="text" class="form-control" id="prenomProducteur" ng-model="producteur.prenom_producteur">
		</fieldset>
		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>

