<div class="action-header row">
	<h2 class="col-md-11">Liste</h2>
	<div class="actions col-md-1">
		<a data-ui-sref="producteurs.add_producteur" href class="btn btn-primary">Ajouter</a>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Amap liée</th>
			<th class="text-right">Actions</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="producteur in producteurs" data-ui-sref="producteurs.view({id: producteur.id})" style="cursor: pointer;">
				<td data-ng-bind="producteur.nom_producteur"></td>
				<td data-ng-bind="producteur.prenom_producteur"></td>
				<td data-ng-bind="producteur.amap.nom"></td>
				<td class="text-right">
					<a data-ui-sref="producteurs.view({id: producteur.id})" ng-click="$event.stopPropagation()" class="btn btn-primary btn-sm">
						<i class="glyphicon glyphicon-eye-open"></i> Visualiser
					</a>
					<a data-ui-sref="producteurs.edit({id:producteur.id})" ng-click="$event.stopPropagation()" class="btn btn-default btn-xs">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a class="btn btn-danger btn-xs" href ng-click="delete(producteur);$event.stopPropagation()">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>