<div class="panel panel-default login">
  <div class="panel-heading">Connection</div>
  <div class="panel-body">
  	<p class="desc">
  		Connectez-vous à l'aide de vos identifiants personnels afin d'accéder à l'application.
  	</p>
 		<form>
	    <div class="input-group">
		    <span class="input-group-addon" id="basic-addon1">@</span>
		    <input type="email" class="form-control" placeholder="Addresse mail" aria-describedby="basic-addon1" 
		    				required autofocus>
			</div>
			<div class="input-group">
		    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
		    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" required>
			</div>
			<div class="remember">
				<label>
					<input value="remember" type="checkbox">
					Se souvenir de moi
				</label>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Connection</button>
		</form>
		<div class="text-right pass-lost">
			<a href="">
				Mot de passe oublié ?
			</a>
		</div>
  </div>
</div>