<div class="action-header row">
    <h2 class="col-md-11">Modification de {{benevole.adherent.prenom}} {{benevole.adherent.nom}}</h2>
</div>

<div ng-submit="envoiBenevole()">
    <form>
        <fieldset class="form-group">
            <label for="nomPoste">Poste</label>
            <input type="text" class="form-control" id="nomPoste" ng-model="benevole.poste_benevole" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="singleSelect">Amap liée</label><br>
            <select name="singleSelect" id="singleSelect2" class="form-control"
                    ng-model="benevole.amap"
                    ng-options="amap.nom for amap in amaps track by amap.id" required>
            </select>
        </fieldset>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>

