<div class="action-header row">
    <h2 class="col-md-11">Ajout d'un contrat</h2>
</div>

<div ng-controller="AddProducteurController" ng-submit="envoiProducteur()">
    <form>
        <fieldset class="form-group">
            <label for="NomProducteur">Nom du producteur</label>
            <input type="text" class="form-control" id="nomProducteur" ng-model="producteur.nom_producteur" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="PrenomProducteur">Prénom du producteur</label>
            <input type="text" class="form-control" id="prenomProducteur" ng-model="producteur.prenom_producteur" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="singleSelect">Amap liée</label><br>
            <select name="singleSelect" id="singleSelect" class="form-control"
                    ng-model="producteur.amap"
                    ng-options="amap.nom for amap in amaps track by amap.id"
                    required>
                <option value="">--Sélectionner une amap--</option>
            </select>
        </fieldset>

        <button type="submit" class="btn btn-primary">Ajouter</button>


    </form>
</div>
